h2 {
  color: Navy;
}

.tablex {
  background-color: #3775BE;
  width: 100%;
  height: 800px;
  min-height: 800px;
  border: 2px solid red;
  border-spacing: 34px;
  overflow: scroll;

  cursor: grab;
  cursor : -o-grab;
  cursor : -moz-grab;
  cursor : -webkit-grab;
}

.rowx {
  border: 3px solid yellow;
}

.cellx {
  background-color: #C6C7C9;
  width: 130px;
  min-width: 130px;
  max-width: 130px;
  height: 550px;
  display: table-cell;
  border: 1px solid #346FB4;
  border-radius: 5px;
  padding: 13px;

  cursor: default;
}